@model AdminPanel.Models.Models.NSI_Client.ClientModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменение</h1>

<h4>Пользователь</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input type="file" id="upload">
                <input asp-for="photo" type="text" class="form-control" readonly id="photo_linq" hidden />
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="card_number" class="control-label"></label>
                <input asp-for="card_number" class="form-control" />
                <span asp-validation-for="card_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="card_date" class="control-label"></label>
                <input asp-for="card_date" class="form-control" />
                <span asp-validation-for="card_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvv" class="control-label"></label>
                <input asp-for="cvv" class="form-control" />
                <span asp-validation-for="cvv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="login" class="control-label"></label>
                <input asp-for="login" class="form-control" />
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="role" class="control-label"></label>
                <select asp-for="role" asp-items="@Html.GetEnumSelectList(typeof(RoleType))">
                    <option>Нет</option>
                </select>
                <span asp-validation-for="role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendorid" class="control-label"></label>
                <select asp-for="vendorid" class="form-control" asp-items="ViewBag.vendorid"></select>
                <span asp-validation-for="vendorid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
       $(document).ready(function () {
        $('#upload').change(function (e) {
            var data = new FormData();

            data.append("file", document.getElementById('upload').files[0]);

            let header = new Headers({
                'Access-Control-Allow-Origin':'*',
                'Content-Type': 'multipart/form-data',
                'accept': 'text/plain'
            });

            fetch('http://77.73.67.101:93/api/Upload/upload-profile-photo', {
              method: 'POST',
              body: data,
              mode: 'cors',
              header: header,
            }).then((response) => {
            return response.json().then((data) => {
                document.getElementById('photo_linq').value = data.result.photo_linq;
            }).catch((err) => {
                console.log(err);
            })
        });
        });
    });
    </script>
}
