@model AdminPanel.Models.Models.NSI_Product.ProductCategoryModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создание</h1>

<h4>Категория товара</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="parentid" class="control-label"></label>
                <select asp-for="parentid" class="form-control" asp-items="ViewBag.parentid"></select>
                <span asp-validation-for="parentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ru_name" class="control-label"></label>
                <input asp-for="ru_name" class="form-control" />
                <span asp-validation-for="ru_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input type="file" id="upload">
                <input asp-for="photo" type="text" class="form-control" readonly id="photo_linq" hidden/>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
       $(document).ready(function () {
        $('#upload').change(function (e) {
            var data = new FormData();

            data.append("file", document.getElementById('upload').files[0]);

            let header = new Headers({
                'Access-Control-Allow-Origin':'*',
                'Content-Type': 'multipart/form-data',
                'accept': 'text/plain'
            });

            fetch('http://77.73.67.101:93/api/Upload/upload-category-photo', {
              method: 'POST',
              body: data,
              mode: 'cors',
              header: header,
            }).then((response) => { 
            return response.json().then((data) => {
                document.getElementById('photo_linq').value = data.result.photo_linq;
            }).catch((err) => {
                console.log(err);
            }) 
        });
        });
    });
    </script>
}
